@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #f9f5ed;
	overflow: hidden;
}

body {
	font-family: "Montserrat", sans-serif;
	max-width: 1440px;
	margin: auto;
}

/* ------------- CSS for nav bar --------------  */

nav {
	padding: 20px 0;
}

nav ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

nav ul li {
	list-style: none;
	margin-right: 62px;
	font-weight: 500;
}

/* ------------- CSS for HERO Section -------------- */

main {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 155px;
}

.leftmain {
	width: 50%;
	margin-top: 100px;
}

.leftmain h1 {
	font-size: 60px;
}

.leftmain p {
	margin: 32px 5px;
	font-size: 15px;
}

.leftmain button {
	padding: 15px 20px;
	border: none;
	background-color: #3b855b;
	border-radius: 10px;
	color: white;
	font-weight: 600;
	margin: 0 5px;
}

.rightmain {
	width: 50%;
	margin-right: 50px;
}

.top-left {
	width: 15vw;
	padding: 8px 8px;
}

.bottom-image {
	width: 29vw;
	margin-left: 12px;
	margin-top: 5px;
}
